.tags {
    display: flex;
    height: 25px;
    gap: 10px;
    margin-bottom: 24px;
}

.tag {
    display: flex;
    border-radius: 10px;
    background-color: rgba(255, 96, 96, 1);
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;
    padding: 15px;
}

@media (max-width: 768px) {
    .tags {
        height: 18px;
    }

    .tag {
        font-size: 10px;
    }

}