.collapse_all {
    display: flex;
    flex-direction: column;
    width: 83%;
    margin-bottom: 30px;
}

.collapse_element {
    height: 54px;
    background-color: rgba(255, 96, 96, 1);
    ;
    border-radius: 5px;
    text-align: center;
    z-index: 100;
}

.collapse {
    display: flex;
    height: 54px;
    justify-content: space-between;
}

.collapse_title {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin: auto 15px;
}

.collapse_content {
    font-size: 18px;
    line-height: 1.5;
    background-color: rgba(246, 246, 246, 0.45);
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
    z-index: 1;    
}

.collapse_content p {
    margin-left: 20px;
}

.collapse_list {
    list-style-type: none;
    padding-left: 20px;
    font-size: 18px;
    margin-top: 27px;
}

.collapse_list li {
    margin-bottom: 4px;
}

.arrow {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    margin-top: 10px;
    transition: transform 0.5s;
}

.rotate {
    transform: rotate(-180deg);
}

/************* Animation **************/

.expand {
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }

    to {
        height: auto;
        opacity: 1;
        transform: translateY(0);
    }
}

.collapsed {
    animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        height: 0;
        opacity: 1;
        transform: translateY(-20%);
    }
}

/*******************************************************************/

@media (max-width: 1024px) {
    .collapse_element {
        height: 45px;
    }

    .arrow {
        width: 25px;
        height: 25px;
        margin: 10px 10px;
    }
}

@media (max-width: 768px) {
    .collapse_all {
        width: 100%;
        margin: 0px 0px 0px 0px;
        gap: 0px;     
    }

    .collapse_element {
        height: 30px;
    }

    .collapse_title {
        font-size: 13px;
        margin: 7px 10px 10px;
    }

    .collapse_content {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .collapse_list {
        font-size: 12px;
        margin-top: 15px;
    }

    .collapse_list li {
        margin-bottom: 3px;
    }

    .arrow {
        width: 20px;
        height: 20px;
        margin: 5px 10px;
    }    
}